/* line 1, ../_scss/pygments.scss */
.hll {
  background-color: #ffffcc;
}

/* line 2, ../_scss/pygments.scss */
.c {
  color: #408080;
  font-style: italic;
}

/* Comment */
/* line 3, ../_scss/pygments.scss */
.err {
  border: 1px solid red;
}

/* Error */
/* line 4, ../_scss/pygments.scss */
.k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
/* line 5, ../_scss/pygments.scss */
.o {
  color: #666666;
}

/* Operator */
/* line 6, ../_scss/pygments.scss */
.cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../_scss/pygments.scss */
.cp {
  color: #bc7a00;
}

/* Comment.Preproc */
/* line 8, ../_scss/pygments.scss */
.c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../_scss/pygments.scss */
.cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../_scss/pygments.scss */
.gd {
  color: #a00000;
}

/* Generic.Deleted */
/* line 11, ../_scss/pygments.scss */
.ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 12, ../_scss/pygments.scss */
.gr {
  color: red;
}

/* Generic.Error */
/* line 13, ../_scss/pygments.scss */
.gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 14, ../_scss/pygments.scss */
.gi {
  color: #00a000;
}

/* Generic.Inserted */
/* line 15, ../_scss/pygments.scss */
.go {
  color: gray;
}

/* Generic.Output */
/* line 16, ../_scss/pygments.scss */
.gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 17, ../_scss/pygments.scss */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 18, ../_scss/pygments.scss */
.gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 19, ../_scss/pygments.scss */
.gt {
  color: #0040d0;
}

/* Generic.Traceback */
/* line 20, ../_scss/pygments.scss */
.kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 21, ../_scss/pygments.scss */
.kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 22, ../_scss/pygments.scss */
.kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 23, ../_scss/pygments.scss */
.kp {
  color: green;
}

/* Keyword.Pseudo */
/* line 24, ../_scss/pygments.scss */
.kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 25, ../_scss/pygments.scss */
.kt {
  color: #b00040;
}

/* Keyword.Type */
/* line 26, ../_scss/pygments.scss */
.m {
  color: #666666;
}

/* Literal.Number */
/* line 27, ../_scss/pygments.scss */
.s {
  color: #ba2121;
}

/* Literal.String */
/* line 28, ../_scss/pygments.scss */
.na {
  color: #7d9029;
}

/* Name.Attribute */
/* line 29, ../_scss/pygments.scss */
.nb {
  color: green;
}

/* Name.Builtin */
/* line 30, ../_scss/pygments.scss */
.nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
/* line 31, ../_scss/pygments.scss */
.no {
  color: #880000;
}

/* Name.Constant */
/* line 32, ../_scss/pygments.scss */
.nd {
  color: #aa22ff;
}

/* Name.Decorator */
/* line 33, ../_scss/pygments.scss */
.ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
/* line 34, ../_scss/pygments.scss */
.ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../_scss/pygments.scss */
.nf {
  color: blue;
}

/* Name.Function */
/* line 36, ../_scss/pygments.scss */
.nl {
  color: #a0a000;
}

/* Name.Label */
/* line 37, ../_scss/pygments.scss */
.nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
/* line 38, ../_scss/pygments.scss */
.nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
/* line 39, ../_scss/pygments.scss */
.nv {
  color: #19177c;
}

/* Name.Variable */
/* line 40, ../_scss/pygments.scss */
.ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
/* line 41, ../_scss/pygments.scss */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 42, ../_scss/pygments.scss */
.mf {
  color: #666666;
}

/* Literal.Number.Float */
/* line 43, ../_scss/pygments.scss */
.mh {
  color: #666666;
}

/* Literal.Number.Hex */
/* line 44, ../_scss/pygments.scss */
.mi {
  color: #666666;
}

/* Literal.Number.Integer */
/* line 45, ../_scss/pygments.scss */
.mo {
  color: #666666;
}

/* Literal.Number.Oct */
/* line 46, ../_scss/pygments.scss */
.sb {
  color: #ba2121;
}

/* Literal.String.Backtick */
/* line 47, ../_scss/pygments.scss */
.sc {
  color: #ba2121;
}

/* Literal.String.Char */
/* line 48, ../_scss/pygments.scss */
.sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 49, ../_scss/pygments.scss */
.s2 {
  color: #ba2121;
}

/* Literal.String.Double */
/* line 50, ../_scss/pygments.scss */
.se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 51, ../_scss/pygments.scss */
.sh {
  color: #ba2121;
}

/* Literal.String.Heredoc */
/* line 52, ../_scss/pygments.scss */
.si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 53, ../_scss/pygments.scss */
.sx {
  color: green;
}

/* Literal.String.Other */
/* line 54, ../_scss/pygments.scss */
.sr {
  color: #bb6688;
}

/* Literal.String.Regex */
/* line 55, ../_scss/pygments.scss */
.s1 {
  color: #ba2121;
}

/* Literal.String.Single */
/* line 56, ../_scss/pygments.scss */
.ss {
  color: #19177c;
}

/* Literal.String.Symbol */
/* line 57, ../_scss/pygments.scss */
.bp {
  color: green;
}

/* Name.Builtin.Pseudo */
/* line 58, ../_scss/pygments.scss */
.vc {
  color: #19177c;
}

/* Name.Variable.Class */
/* line 59, ../_scss/pygments.scss */
.vg {
  color: #19177c;
}

/* Name.Variable.Global */
/* line 60, ../_scss/pygments.scss */
.vi {
  color: #19177c;
}

/* Name.Variable.Instance */
/* line 61, ../_scss/pygments.scss */
.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
