<!DOCTYPE>
<html>
<head>
  <link href="pygments.css" rel="stylesheet"></link>
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <style type="text/css">
    body {
      font-family: 'Open Sans', Helvetica, san-serif;
      color: black;
    }

    .highlight {
      border: 1px solid black;
      padding: 0 15px;
    }

    pre {
      font-family: 'Source Code Pro', monospace;
      page-break-inside: avoid;
    }

    .break {
      page-break-before: always;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
