<!DOCTYPE>
<html>
<head>
  <link href="monokai.css" rel="stylesheet"></link>
  <style type="text/css">
    body {
      font-family: Helvetica, san-serif;
      color: #333;
    }

    .break {
      page-break-before: always;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
